@page "/orders/delete"
@rendermode InteractiveServer
@using BLL.DTOs
@using BLL.Services.IServices
@inject IOrderService OrderService
@inject IOrderDetailService OrderDetailService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>Delete Order</PageTitle>

<h3 class="text-danger mb-4"><i class="fas fa-trash-alt"></i> Delete Order</h3>

@if (ErrorMessage is not null)
{
    <div class="alert alert-danger mt-4 text-center">
        <strong>Error:</strong> @ErrorMessage
    </div>
}

@if (IsSuccess)
{
    <div class="alert alert-success mt-4 text-center">
        Order Deleted Successfully!
    </div>
}

<div class="card shadow-sm p-4 mb-4">
    @if (OrderModel == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div>
            <dl class="row">
                <dt class="col-sm-3">Order ID</dt>
                <dd class="col-sm-9">@OrderModel.OrderId</dd>

                <dt class="col-sm-3">Freight</dt>
                <dd class="col-sm-9">@OrderModel.Freight</dd>

                <dt class="col-sm-3">Order Date</dt>
                <dd class="col-sm-9">@OrderModel.OrderDate.ToShortDateString()</dd>

                <dt class="col-sm-3">Required Date</dt>
                <dd class="col-sm-9">@OrderModel.RequiredDate.ToShortDateString()</dd>

                <dt class="col-sm-3">Shipped Date</dt>
                <dd class="col-sm-9">@OrderModel.ShippedDate.ToShortDateString()</dd>
            </dl>

            <div class="d-flex justify-content-between">
                <button class="btn btn-danger" @onclick="DeleteOrderById" disabled="@IsLoading">
                    @if (IsLoading)
                    {
                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    }
                    else
                    {
                        <i class="fas fa-trash-alt me-2">Delete Order</i>
                      
                    }
                </button>

                <a href="/orders" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    }
</div>

@code {
    [SupplyParameterFromQuery]
    public int orderid { get; set; }  // ID lấy từ URL

    private OrderDTO OrderModel { get; set; } = new();
    private bool IsLoading = false;
    private bool IsSuccess = false;
    private string? ErrorMessage;

   
    protected override async Task OnParametersSetAsync()
    {
        try
        {
            IsLoading = true;
           
            OrderModel = await OrderService.GetOrderByIdAsync(orderid);

            if (OrderModel == null)
            {
                ErrorMessage = "Order not found.";
            }
            else
            {
                IsSuccess = false;
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
        finally
        {
            IsLoading = false;
        }
    }

   
    private async Task DeleteOrderById()
    {
        
            IsLoading = true;
           
            await JSRuntime.InvokeVoidAsync("console.log", "Deleted clicked");
           
            await OrderDetailService.DeleteOrderItemsByOrderIdAsync(orderid);
          
           
            await OrderService.DeleteOrderAsync(orderid);
          

            IsSuccess = true;
            await InvokeAsync(() => NavigationManager.NavigateTo("/orders", true));
       
    }
}
